# for backend
fastapi
uvicorn

# wordnet word-by-word comparison
nltk

# gensim sentence similarity
numpy
scipy
cupy
gensim

# Chinese Tokenizer
# jieba

# for model training and database stuff
datasets
accelerate
torch
transformers[torch]
sacrebleu
